<a href="https://colab.research.google.com/github/ahmadsanafarooq/Data-Science-Machine-Learning-Nodebook/blob/main/DS_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Variables***

In [2]:
name="ahmad"
age =20
height=19.86
is_student=False

#print variable values
print()
print("name:",name)
print("age:",age)
print("height:",height)
print("is_student:",is_student)

name: ahmad
age: 20
height: 19.86
is_student: False

In [3]:
print(type(name)) #data type of name
print(type(age)) #data type of age
print(type(height)) #data type of height
print(type(is_student)) #data type of is student

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [5]:
b=True
c="False"
print(type(b))
print(type(c))

<class 'bool'>
<class 'str'>

In [10]:
#List use square brackets to create list
name=["ahmad","hannan","ayesha","momina"]
print(name)
age=[24,25,23,22]
(age)

['ahmad', 'hannan', 'ayesha', 'momina']

[24, 25, 23, 22]

In [12]:
print("Name of first Studet is ",name[0])
print("Age of first stdent is ",age[0])

Name of first Studet is  ahmad
Age of first stdent is  24

In [13]:
#print name and age of any 3 students
print(name[0:3]) #0 is strating position and 3 is ending position
print(age[0:3])  #0 is starting position and 3 is ending position

['ahmad', 'hannan', 'ayesha']
[24, 25, 23]

In [16]:
#dictionary use curly brcaes {} to create
batch13={
    "name":["Ahmad","Hannan"],
    "age":[24,25],
    "gender":["Male","Male"]
}
batch12={
    "Name":["Ayesha","Momina"],
    "Age":[23,22],
    "Gender":["Female","Female"]
}
print(batch13)
print(batch12)

print("Name of Batch 13 students is  ",batch13["name"])
print("Name of batch 12 students is ",batch12["Name"])

{'name': ['Ahmad', 'Hannan'], 'age': [24, 25], 'gender': ['Male', 'Male']}
{'Name': ['Ayesha', 'Momina'], 'Age': [23, 22], 'Gender': ['Female', 'Female']}
Name of Batch 13 students is   ['Ahmad', 'Hannan']
Name of batch 12 students is  ['Ayesha', 'Momina']

In [18]:
#access specific data of dictionary
print(batch12['Name'][0])
print(batch12["Age"][0])
print(batch12["Gender"][0])

Ayesha
23
Female

***Library***

In [29]:
#dataframe
import pandas as pd
#create a dataframe from dictionary
data={
    "Name":['Ahmad','Hannan','Momina','Ayesha'],
    'Age':[23,24,22,23],
    'Gender':['M','M','F','F'],
    'City':['Burewala','Faisalabad','Faisalabad','Shahkot'],
    'Department':['Computer Science','Computer Science','Medical','Medical'],
    'Country':['Pakistan','Pakistan','Pakistan','Pakistan']
}

print("Original Dataframe \n")
df=pd.DataFrame(data)
df

Original Dataframe

     Name  Age Gender        City        Department   Country
0   Ahmad   23      M    Burewala  Computer Science  Pakistan
1  Hannan   24      M  Faisalabad  Computer Science  Pakistan
2  Momina   22      F  Faisalabad           Medical  Pakistan
3  Ayesha   23      F     Shahkot           Medical  Pakistan

In [39]:
print(df)

     Name  Age Gender        City        Department   Country
0   Ahmad   23      M    Burewala  Computer Science  Pakistan
1  Hannan   24      M  Faisalabad  Computer Science  Pakistan
2  Momina   22      F  Faisalabad           Medical  Pakistan
3  Ayesha   23      F     Shahkot           Medical  Pakistan

***DATA CLEANING***

In [40]:
df=pd.read_csv('https://raw.githubusercontent.com/ageron/handson-ml2/master/datasets/housing/housing.csv')

In [41]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [42]:
df.head() #top 5 rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [44]:
df.tail() #last 5 rows

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [45]:
df.info() #information of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [47]:
df.describe() # describe mathematical implementation of data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [48]:
df.columns #columns of dataset

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

***Missing Values***

In [51]:
missing_values=df.isnull().sum()
print("Missing values\n\n", missing_values)

Missing values

 longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [52]:
df.dropna(inplace=True)#drop missing values

***Duplicate Data***

In [53]:
duplicate_records=df[df.duplicated()]
print("Duplicate records\n\n",duplicate_records)

Duplicate records

 Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [54]:
#total duplicate values
duplicated_sum=df.duplicated().sum()
print("Number of duplicate records",duplicated_sum)

Number of duplicate records 0

***Inconsitent data***

In [55]:
data_types=df.dtypes
data_types

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

In [67]:
#handle inconsitent data
df['total_rooms']=df['total_rooms'].astype(int)#chnage data type

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(8), int64(1), object(1)
memory usage: 1.7+ MB

In [69]:
df['total_bedrooms']=df['total_bedrooms'].astype(int) #change data type

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  int64
 4   total_bedrooms      20433 non-null  int64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(7), int64(2), object(1)
memory usage: 1.7+ MB

In [71]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880,129,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099,1106,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467,190,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274,235,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627,280,565.0,259.0,3.8462,342200.0,NEAR BAY

In [72]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665,374,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697,150,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254,485,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860,409,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785,616,1387.0,530.0,2.3886,89400.0,INLAND

In [73]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [74]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [75]:
df['ocean_proximity']=df['ocean_proximity'].replace('ISLAND','INLAND')#replace columns

In [76]:
df['ocean_proximity'].value_counts()

ocean_proximity
<1H OCEAN     9034
INLAND        6501
NEAR OCEAN    2628
NEAR BAY      2270
Name: count, dtype: int64